.img {
  width: 416px;
  height: 416px;
  margin-top: 48px;
  margin-left: 72px;

  background-image: url('../assets/Image.jpg');
  background-size: contain;
  @media (max-width: 950px) {
    margin-top: 0;
    width: 360px;
    margin-left: 0;
  }
}
