.infobox {
  border: 1px solid yellow;
  width: 526px;
  height: 554px;
  margin-left: 24px;
  margin-top: 48px;
}
.badges {
  display: flex;

  width: 271px;
  height: 20px;
}

.shipping {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;

  width: 90px;
  height: 20px;

  background: linear-gradient(to left, #f5515f, #ff7527);
  border-radius: 2px 0 0 2px;
}
.stock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 20px;
  background-color: #fff0e6;

  color: #ff6600;
  font-family: Roboto;
  font-size: 12px;
}
.dispatch {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 106px;
  height: 20px;
  background-color: #fff0e6;

  color: #ff6600;
  font-family: Roboto;
  font-size: 12px;
}

.title {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  width: 526px;

  margin-top: 8px;
}

.label {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;

  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;

  width: 111px;
  height: 20px;
  margin-left: 6px;

  line-height: 16px;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 242px;
  height: 16px;
  margin-top: 12px;
}
.ratingcount {
  margin-left: 4px;
  color: #ff6600;
  font-family: Roboto;
  font-size: 12px;
}

.reviews {
  margin-left: 4px;

  color: #999999;
  font-family: Roboto;
  font-size: 12px;
}

.buyers {
  margin-left: 24px;
  color: #333333;
  font-family: Roboto;
  font-size: 12px;
}
.pricebox {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 0 0 #e6e7eb, inset 0 -1px 0 0 #e6e7eb;
  display: flex;
  //   align-items: center;
  width: 526px;
  width: 526px;
  height: 64px;
  margin-top: 12px;
}

.productprice {
  margin-top: 12px;
  color: #ff6600;
  font-family: Roboto;
  font-size: 16px;
}

.discount {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;

  text-decoration: line-through;
}

.option {
  display: flex;

  margin-top: 12px;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  margin-left: 12px;
}
.option2 {
  margin-left: 11px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  margin-right: 2px;
}

.marchexpo {
  display: flex;
  align-items: center;

  background-color: #fff0e6;
  width: 526px;
  height: 40px;
  margin-top: 12px;
}
.freeShipping {
  margin-left: 100px;
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
}

.delivery {
  margin-left: 24px;
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
}

.timer {
  display: flex;
  align-items: center;

  border: 2px solid black;
  width: 328px;
  height: 24px;
  margin-top: 24px;
}

.offer {
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
}
.endsin {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  margin-left: 3px;
}

.timeleft {
  margin-left: 52px;
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
}

.products {
  border: 2px solid black;
  width: 526px;
  height: 144px;
  margin-top: 24px;
}

.assurance {
  border: 2px solid black;
  width: 306px;
  height: 16px;
  margin-top: 24px;
}

.payments {
  border: 2px solid black;
  width: 130px;
  height: 16px;
  margin-top: 12px;
}

.links {
  border: 2px solid black;
  width: 252px;
  height: 16px;
  margin-top: 14px;
}
