iframe {
  display: none;
}

.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  @media (max-width: 950px) {
    display: flex;
    align-self: flex-start;
    align-items: center;

    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
